@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.header .left-links, .right-links {
  display: flex;
  gap: 16px;
}

a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(215, 215, 215);
}

.footer .left-links, .right-links {
  display: flex;
  gap: 16px;
  margin: 10px;
}